@font-face {
    font-family: 'zabars';
    src: url('fonts/zabars.ttf') format('truetype');
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('img/10_background-img/sand-6570980_1280.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
    margin: 0;
    font-family: 'zabars', Arial, Helvetica, sans-serif;
    color: rgba(125, 47, 19, 1);
}

h1 {
    font-size: 64px;
    letter-spacing: 3px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    margin-block: 0px;
    margin-bottom: 50px;
    position: absolute;
    top: 200px;
}

h2 {
    font-size: 160px;
    color: rgba(255, 206, 22, 1);
    text-shadow:
        -4px -2px 0 rgba(125, 47, 19, 1),
        4px -2px 0 rgba(125, 47, 19, 1),
        -10px 10px 0 rgba(125, 47, 19, 1),
        4px 2px 0 rgba(125, 47, 19, 1);

}

h3 {
    font-size: 36px;
}

p {
    font-size: 24px;
}

canvas {
    background-color: rgba(0, 0, 0, 1.0);
    display: block;
}

.canvas-overlay {
    display: flex;
}

.gameover-screen-button-container {
    position: absolute;
    top: 82%;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.game-screen {
    position: relative;
    width: 720px;
    height: 480px;
}

.screens {
    height: 480px;
    width: 720px;
    position: absolute;
    top: 294px;
}

.overlay-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.overlay-screen img {
    width: 100%;
    height: 100%;
}

.text-screen {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-button-container {
    display: flex;
    justify-content: end;
    align-items: end;
    flex-direction: row;
    gap: 5px;
    position: absolute;
    top: 2%;
    right: 2%;
}

.gameover-screen-button {
    height: 40px;
    width: 140px;
    background-color: rgba(255, 206, 22, 1);
    border-color: rgba(125, 47, 19, 1);
    border-radius: 16px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 800;
    color: rgba(125, 47, 19, 1);
}

.game-screen-button {
    height: 40px;
    width: 40px;
    background-color: rgba(255, 206, 22, 1);
    border-color: rgba(125, 47, 19, 1);
    border-radius: 16px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 800;
    color: rgba(125, 47, 19, 1);
    z-index: 1100;
}

.game-button-container img {
    height: 30px;
    width: 30px;
    margin-right: 5px;
    margin-top: 5px;
}

.game-button-container img:hover {
    transform: scale(1.1);
}


.gameover-screen-button:hover {
    transform: scale(1.1);
}


.win-screen-button-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
}


.instruction-text {
    z-index: 1100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(221, 215, 189, 0.9);
    border-radius: 16px;
    padding: 20px;
    width: 500px;
    height: 400px;
    position: absolute;
}

.menu-button-ingame-container {
    position: fixed;
    top: 325px;
    z-index: 2000;
    left: 920px;
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;

}

.menu-button-ingame {
    height: 30px;
    width: 60px;
    background-color: rgba(255, 206, 22, 1);
    border-color: rgba(125, 47, 19, 1);
    border-radius: 16px;
    cursor: pointer;
    font-size: 10px;
    font-weight: 800;
    color: rgba(125, 47, 19, 1);
    margin-top: 2px
}

.menu-button-ingame:hover {
    cursor: pointer;
    transform: scale(1.1);
}



.d-none {
    display: none;
}

.fullscreen {
    width: 100vw;
    height: 100vh;
}

@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }

    .screens {
        width: 100%;
        height: 100%;
        top: unset;
    }

    .game-screen {
        width: 100%;
    }

    .overlay-screen img {
        width: 100%;
        
    }
    .gameover-screen-button-container {
        top: 82vh
    }

    h1 {
        display: none;
    }
}

@media only screen and (max-height: 960px) {
/*     h1 {
        display: none;
    } */

    .screens {
        top: unset
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }



    .screens {
        position: unset;
    }


    .gameover-screen-button-container {
        position: absolute;
        top: 85vh;
    }
}

.rotate-warning {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: black;
    color: white;
    font-size: 1.5rem;
    text-align: center;
    padding-top: 50vh;
    z-index: 9999;
}



@media only screen and (max-width: 480px) and (orientation: portrait) {
    .rotate-warning {
        display: block;
    }
}