@font-face {
    font-family: 'zabars';
    src: url('fonts/zabars.ttf') format('truetype');
}


.winky-rough-font {
    font-family: "Winky Rough", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('img/10_background-img/sand-6570980_1280.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
    margin: 0;
    font-family: 'zabars', Arial, Helvetica, sans-serif;
    color: rgba(125, 47, 19, 1);
}

h1 {
    font-size: 64px;
    letter-spacing: 3px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    margin-block: 0px;
    margin-bottom: 50px;
    position: absolute;
    top: 15vh;
}

h2 {
    font-size: 160px;
    color: rgba(255, 206, 22, 1);
    text-shadow:
        -4px -2px 0 rgba(125, 47, 19, 1),
        4px -2px 0 rgba(125, 47, 19, 1),
        -10px 10px 0 rgba(125, 47, 19, 1),
        4px 2px 0 rgba(125, 47, 19, 1);

}

h3 {
    font-size: 36px;
    margin-top: 32px;
    margin-bottom: 16px;
    font-family: "Winky Rough", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

p {
    font-size: 16px;
    margin-block: 8px;
}

canvas {
    background-color: rgba(0, 0, 0, 1.0);
    display: block;
}

.canvas-overlay {
    display: flex;
}

.gameover-screen-button-container {
    position: absolute;
    top: 78%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    z-index: 9999;
}

.impressum-button-container {
    position: absolute;
    top: 84%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;

}

.game-screen {
    height: 480px;
    width: 720px;
    display: flex;
    justify-content: center;
    position: relative;
}

.screens {
    height: 480px;
    width: 720px;
    display: flex;
    justify-content: center;
    position: relative;
}

.screensFS {
    position: absolute;
}

.screen-position {
    height: 480px;
    width: 720px;
    display: flex;
    justify-content: center;
    position: fixed;
}

.overlay-screen {
    width: 100%;
    height: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.win-or-lose-screen {
    position: fixed;
    max-width: 720px;
    height: 480px;
}

.win-or-lose-screen-FS {
    max-width: unset;
    width: 100vw;
    height: 100vh;
}

.background-images {
    width: 100%;
    height: 100%;
}

.text-screen {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mobile-game-buttons {
    position: absolute;

    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    top: 88%;
    display: flex;
}

.game-button-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: row;
    gap: 5px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.game-action-button-container {
    display: flex;
    gap: 5px;
    /* height: 40px; */
    align-items: start;
    padding-bottom: 10px;
}

.gameover-screen-button {
    height: 40px;
    width: 140px;
    background-color: rgba(255, 206, 22, 1);
    border-color: rgba(125, 47, 19, 1);
    border-radius: 16px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 800;
    color: rgba(125, 47, 19, 1);
}

.game-screen-button {
    height: 40px;
    width: 40px;
    background-color: rgba(255, 206, 22, 1);
    border-color: rgba(125, 47, 19, 1);
    border-radius: 16px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 800;
    color: rgba(125, 47, 19, 1);
    z-index: 1100;

}



.impressum-button {
    height: 30px;
    width: 140px;
    /*     background-color: rgba(255, 206, 22, 1);
    border-color: rgba(125, 47, 19, 1);
    border-radius: 16px; */
    cursor: pointer;
    font-size: 24px;
    font-weight: 300;
    color: rgba(125, 47, 19, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8px;
}

.impressum-text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 28px;
}

.game-screen-action-button {
    height: 40px;
    width: 40px;
    background-color: rgba(255, 206, 22, 1);
    border-color: rgba(125, 47, 19, 1);
    border-radius: 16px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 800;
    color: rgba(125, 47, 19, 1);
    z-index: 9999;
    margin-inline: 10px;
    margin-bottom: 10px;
}

.game-button-container img {
    height: 30px;
    width: 30px;
    margin-right: 5px;
    margin-top: 5px;
}

.game-button-container img:hover {
    transform: scale(1.1);
}


.gameover-screen-button:hover {
    transform: scale(1.1);
}


.win-screen-button-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
}


.instruction-text {
    z-index: 1100;
    display: flex;
    flex-direction: column;

    align-items: center;
    background-color: rgba(221, 215, 189, 0.9);
    border-radius: 16px;
    padding: 20px;
    width: 500px;
    height: 400px;
    position: absolute;
}

.menu-button-ingame-container {
    position: fixed;
    top: 325px;
    z-index: 2000;
    left: 920px;
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;

}

.menu-button-ingame {
    height: 30px;
    width: 60px;
    background-color: rgba(255, 206, 22, 1);
    border-color: rgba(125, 47, 19, 1);
    border-radius: 16px;
    cursor: pointer;
    font-size: 10px;
    font-weight: 800;
    color: rgba(125, 47, 19, 1);
    margin-top: 2px
}

.menu-button-ingame:hover {
    cursor: pointer;
    transform: scale(1.1);
}



.d-none {
    display: none;
}

.fullscreen {
    width: 100vw;
    height: 100vh;
    top: unset;
}

.fs-screen-position {
    height: unset;
    width: unset;
}

.fullscreen-menu-button {
    margin-top: 20px;
    margin-right: 5px;
}

.fullscreen-menu-button-container {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 9999;

}


.action-screens {
    height: 480px;
    width: 720px;
    display: flex;
    justify-content: center;
    position: fixed;
}

.action-screens-FS {
    height: 100vh;
    width: 100vw;
}

.setting-icons {
    height: 40px;
    width: 40px;
    background-color: rgba(255, 206, 22, 1);
    border-color: rgba(125, 47, 19, 1);
    border-radius: 16px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 800;
    color: rgba(125, 47, 19, 1);
}

.setting-icon-settings {
    display: flex;
    height: 90px;
}

.setting-icon-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.setting-slider {
    padding-block: 10px;
}

@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }

    .screens {
        width: 100vw;
    }

    .game-screen {
        width: 100vw;

    }

    .action-screens {
        width: 100%;
    }



    .overlay-screen img {
        width: 100%;
    }



    h1 {
        display: none;
    }


}



@media only screen and (max-height: 960px) {
    h1 {
        display: none;
    }
}


@media only screen and (max-height: 480px) {

    .screens {
        height: 100vh;
        width: 100vw;
    }

    .game-screen {
        height: 100vh;
        width: 100vw;

    }

    .action-screens {
        height: 100vh;
        width: 100vw;
    }

    canvas {
        height: 100vh;
        width: 100vw;
    }

    .win-or-lose-screen {
        width: 100vw;
        height: 100vh;
        max-width: unset;
    }

    .gameover-screen-button-container {

        top: 76vh;
    }

    .win-screen-button-container {
        position: absolute;
        top: 76vh;
    }

    .impressum-container {

        top: 88vh;
    }

    .instruction-text {
        height: 80vh;
        justify-content: start;
    }

    .screen-position {
        position: relative;
        height: unset;
        width: unset;
    }

    .FS-d-none {
        display: none;
    }

   


}

@media only screen and (max-height: 400px) {
    .game-button-container {
        right: 15vw;
    }
}

.rotate-warning {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: black;
    color: white;
    font-size: 1.5rem;
    text-align: center;
    padding-top: 50vh;
    z-index: 9999;
}





@media only screen and (max-width: 480px) and (orientation: portrait) {
    .rotate-warning {
        display: block;
    }

}